.rooper {
  &-character-card {
    border: solid #fff 1px;
    margin-bottom: 10px;
    margin-left: 5px;
    opacity: 0.5;
    width: 90px;

    > figure {
      height: 50px;
      margin: 0 auto;
      width: 35px;
    }

    > div {
      text-align: center;
    }

    &-is-active {
      border-color: #ff0;
      opacity: 1;
      outline: solid 1px #ff0;
    }
  }

  &-bottom-form {
    .card {
      width: 100%;
    }

    .card-content {
      display: none;
      max-height: 40vh;
      overflow: scroll;
    }

    .card-footer {
      display: none;
    }

    &.is-active {
      .card-content {
        display: block;
      }

      .card-footer {
        display: flex;
      }
    }
  }

  &-roomdata-state {
    padding: 0.5rem 1.5rem;

    > div {
      border: solid 1px #fff;
      font-size: 1.5rem;
      padding: 0.5rem;
      text-align: center;
    }
  }

  &-characters-form {
    margin-left: -1rem;

    .rooper-character-room-form-item {
      display: grid;
      grid-template-columns: 45px 1fr 1fr 1fr 1fr 20px;

      [type='number'] {
        width: 30px;
      }

      + div {
        padding-bottom: 10px;
      }
    }
  }

  &-boards-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 1rem;

    .rooper-board-room-form-item {
      padding-right: 2rem;
    }

    [type='number'] {
      width: 30px;
    }
  }

  &-roomdata-character-card,
  &-roomdata-board-card {
    height: 50px;
    position: relative;
    width: 35px;

    img {
      position: absolute;
    }

    .rooper-roomdata-character-parameter,
    .rooper-roomdata-board-parameter {
      $chip-size: 12px;
      $big-chip-size: 18px;

      display: flex;
      flex-wrap: wrap;

      .chip {
        border-radius: $chip-size/2;
        display: block;
        height: $chip-size;
        position: relative;
        width: $chip-size;
      }

      .big {
        border-radius: $big-chip-size/2;
        font-size: 14px;
        height: $big-chip-size;
        text-align: center;
        width: $big-chip-size;
      }

      .goodwill {
        background-color: #ffa200;
        color: #000;
      }

      .paranoia {
        background-color: #00f;
        color: #fff;
      }

      .intrigue {
        background-color: #f00;
        color: #fff;
      }
    }
  }

  &-roomdata-main-board-wrapper {
    position: relative;
    width: 100%;

    &::before {
      content: '';
      display: block;
      padding-top: 71%; // 画像は1:1.4の縦横比。10/14=0.71×100で71%
    }

    .rooper-roomdata-main-board {
      bottom: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

      > div {
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
      }

      .rooper-main-board-shrine {
        background-image: url('/assets/images/boards/shrine.png');
      }

      .rooper-main-board-school {
        background-image: url('/assets/images/boards/school.png');
      }

      .rooper-main-board-hospital {
        background-image: url('/assets/images/boards/hospital.png');
      }

      .rooper-main-board-city {
        background-image: url('/assets/images/boards/city.png');
      }
    }
  }

  &-mastermind-form-hands {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
