

.container {
  $header-height: 2rem;

  display: grid;
  grid-template-rows: $header-height auto;
  height: 100vh;
  overflow: hidden;
  widows: 100vw;

  .page-head {
    display: flex;
    overflow: hidden;

    // 中央揃え
    div {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    // 最後の要素だけ右揃え
    > :last-child {
      margin-left: auto;
      margin-right: 5px;
    }

    .right {
      height: $header-height;
      justify-self: flex-end;
      margin-top: 5px;
      overflow: hidden;

      .menu {
        display: none;
        padding-top: $header-height + 2rem;
        position: absolute;

        &.open {
          display: block;
        }

        ul {
          background-color: rgba(50, 50, 50, 0.6);
          margin-left: -4rem;
          padding: 0.5rem;

          li {
            cursor: pointer;

            &:hover {
              background-color: #505050;
            }
          }
        }
      }

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}
