.rooper {
  &-modal-message {
    white-space: pre-wrap;
  }

  // main直下の領域がはみ出さないように調整
  &-main {
    overflow: hidden;

    > div {
      height: 100%;
      overflow: hidden;
      overflow-y: scroll;
      padding: 1rem;
      width: 100%;
    }
  }
}

.rooper-container {
  $header-height: 2rem;

  display: grid;
  grid-template-rows: $header-height auto;
  height: 100vh; // data-elm-hot が１つ上の要素であり、height:inheritとなっている
  overflow: hidden;
  width: 100%;

  // ヘッダ部分
  .rooper-page-head {
    display: flex;
    overflow: hidden;
    width: 100%;

    // 中央揃え
    div {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    // 最後の要素だけ右揃え
    > :last-child {
      margin-left: auto;
      margin-right: 5px;
    }

    .left {
      color: #f00;
      margin-left: 5px;
    }

    .right {
      height: $header-height;
      justify-self: flex-end;
      margin-top: 5px;
      overflow: hidden;

      .menu {
        display: none;
        position: absolute;
        top: $header-height + 1rem;
        z-index: 10;

        &.open {
          display: block;
        }

        ul {
          background-color: rgba(50, 50, 50, 0.6);
          margin-left: -4rem;
          padding: 0.5rem;

          li {
            cursor: pointer;
            padding: 10px 0;

            &:hover {
              background-color: #505050;
            }
          }
        }
      }

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }

  // メイン部分
  main {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    .center {
      // background-color: #505050;
      height: 80%;
      padding: 1rem;
      width: 90%;

      .login-message {
        text-align: center;
      }

      .my-sw-container {
        height: 100%;
        width: 80vw; // % 指定だとswiperがうまく動かない（右にずれる）
      }
    }
  }
}
