extends ../_includes/layout

//- _layout.pugをベースに作成
block Variable
  - var title="惨劇RoopeRオンラインツール"
  - var bodyClass = "rooper-active has-navbar-fixed-bottom"

block css
  link(href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css", rel='stylesheet', integrity="sha256-DBYdrj7BxKM3slMeqBVWX2otx7x4eqoHRJCsSDJ0Nxw=", crossorigin="anonymous")

block headerJS
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js", integrity="sha256-4sETKhh3aSyi6NRiA+qunPaTawqSMDQca/xLWu27Hg4=", crossorigin="anonymous")
block main
  .rooper-wrapper
    #app
    footer(style="font-size:10px;")
      |  #[a(href="http://bakafire.main.jp/rooper/sr_dl_04_sozai.htm") 惨劇コモンズ、惨劇コモンズχ作成:BakaFire様、紺ノ玲 ]
      |  is licensed under a
      | #[a(href="https://creativecommons.org/licenses/by-sa/2.1/jp/") Creative Commons 表示 - 継承 2.1 日本 License ]
      | #[a(href="https://twitter.com/hibohiboo") Copyright © 2020-hibo ]
