extends ../_includes/layout
//- _layout.pugをベースに作成
block Variable
  - var title="惨劇RoopeRオンラインツール"
  - var bodyClass = "active"

block main
  section.section
    .container
      #firebaseui-auth-container
      #sign-out #[button サインアウト]
      #app
