extends _includes/layout
//- _layout.pugをベースに作成

block css
  link(href="/assets/css/styles.css", rel="stylesheet")

block main
  .wrapper
    .container
      h1.rooper-title 惨劇RoopeRオンラインツール
      section.hero
        .hero-body
          .container.has-text-centered
            a.title(href="/rooper/", style="text-decoration: underline;") 入り口
      section.section
        .content
          ul
            li 惨劇RoopeR（BakaFire Party様製作)をオンラインで遊ぶツールです。
            li ツイッターでのログインにより、ログインユーザ同士で対戦ができます。
            li 対戦には相手のツイッターの名前が必要です。
            li 観戦だけなら、ログインしなくても可能です。#[a(href="https://rooper-tool.web.app/rooper/room/q1oYEbkmdFct9LQUDv2W/") → サンプルルーム]
            li 現在はFirst Steps, Basic Tragedy χ, Mystery Circle を対象としています。 それ以外のものは#[a(href="http://asuwa.mistysky.net/rooper/rooper.cgi") 旧版]か、#[a(href="https://rooper-401ef.web.app/") Udonarium]をお試しください。
            li #[a(href="http://bakafire.main.jp/rooper/sr_top.htm") 惨劇RoopeR本家サイト]
            li #[a(href="https://teamsangeki.wixsite.com/bpsg/about-2") 舞台の予告PV] かっこいいです！
            li #[a(href="https://dengekionline.com/elem/000/000/688/688677/") 電撃オンラインで特集！ ] 製作者との対戦リプレイ。
            li #[a(href="https://www.4gamer.net/games/199/G019961/20130111001/") 4Gamer.netで惨劇RoopeRの紹介！] 短いリプレイ付きの分かりやすい解説。
            li #[a(href="http://www.boardgame.work/sangeki/kifu.php?set=FS&loop=1&day=3&insident%5B1%5D=%E6%AE%BA%E4%BA%BA%E4%BA%8B%E4%BB%B6&insident%5B2%5D=%E4%B8%8D%E5%AE%89%E6%8B%A1%E5%A4%A7&insident%5B3%5D=%E4%B8%8D%E5%AE%89%E6%8B%A1%E5%A4%A7&insident%5B4%5D=&insident%5B5%5D=&insident%5B6%5D=&insident%5B7%5D=&insident%5B8%5D=&ch%5B%5D=1002&ch%5B%5D=1101&ch%5B%5D=1201&from=kifu_init" ) ペンスキーさんの棋譜入力ツール]
            li #[a(href="http://www.boardgame.work/sangeki/") ペンスキーさんの脚本置き場]
            li #[a(href="http://ss.noob.jp/bg/boardgame_sum.html") 佐々宮智志さんのサマリー]
            li #[a(href="http://umeyun.hatenablog.com/entry/2013/05/30/233601") うめゆさんのお役立ちツール紹介]
            li #[a(href="https://drive.google.com/drive/folders/0BzGm1Adi28XLQ3gyZm1qdlJTdFdHMXEzeURZNFVudw") ひだりさんの公開・非公開シートDL]
            li ルールX、ルールY、役職、事件は主人公の書9～13頁よりの転載となります。
            li 非公開シート・公開シートは主人公の書２２・２３を参考としています。 手札リストは主人公の書１８・１９頁を参照です。Mystery Circleは３～９頁,HauntedStageは４～９頁からの転載となります。FirstStepsは惨劇RoopeRχ主人公の書３１～３３頁、BasicTragedyχは３４～３８頁からの転載となります。
            li カード画像表示機能を追加しました。 @yukainatukiさん、要望ありがとうございます！
            li 最低の脚本でマイナスを2人選ばないといけないバグを修正しました。@yukainatukiさん、ご指摘ありがとうございます！
            li #[a(href="http://bakafire.main.jp/rooper/sr_dl_04_sozai.htm") 惨劇コモンズ、惨劇コモンズχ作成:BakaFire様、紺ノ玲] is licensed under a #[a(href="https://creativecommons.org/licenses/by-sa/2.1/jp/") Creative Commons 表示 - 継承 2.1 日本 License]
            li 妹のカード画像は#[a(href="https://twitter.com/silversnow006/status/1221315013190619137") Bakafire様の許可をとりました。]
            li カードイラスト：ぐり。
            li 動作確認はChromeの最新版で行っています。他のブラウザの対応は未定です。
            li 当スクリプトを使用するに当たって不具合が生じても責を負いかねます。
            li 要望・バグ報告・感想などはこちら。 #[a(href="https://twitter.com/hibohiboo") Copyright © 2020-hibo]
